
/**
 * Colors
 */
$color-white         : #fff;
$color-gray-lighten  : #f9f9f9 ;
$color-gray-light    : #eee;
$color-gray-medium   : #afafaf;
$color-gray          : #777777;
$color-gray-dark     : #656667;
$color-gray-darken   : #222;
$color-black         : #000;

$color-red           : #d0070e;
$color-red-light     : #b2192c;
$color-red-dark      : #d45942;

$color-brown-lighten : #e9e5df;
$color-brown-light   : #dfd5c8;
$color-brown         : #8e8168;
$color-brown-dark    : #736347;

$color-primary       : $color-black;
$color-secondary     : $color-brown;
$color-gray-canal	 : #525252;
