
@font-face {
    font-family: 'Fortunates December';
    src: url('FortunatesDecember.eot');
    src: url('/arquivos/FortunatesDecember.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/FortunatesDecember.woff2.css') format('woff2'),
        url('/arquivos/FortunatesDecember.woff.css') format('woff'),
        url('/arquivos/FortunatesDecember.ttf.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}
